@model IEnumerable<WebApiProject.Models.ViewModel.MovieViewModel>

@{
    ViewData["Title"] = "Movies";
}

<h3>Movies</h3>

<p>
    <a asp-action="AddMovie">Add Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateMovie", new { id = item.Id }) |
                @Html.ActionLink("Details", "MovieDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteMovie", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
